<doctype! html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="pokerCheater" ng-controller="mainCtrl">

	<h1>Poker Cheater</h1>

	<div class="top-row">
		<div>
				<p>Players: </p>
				<input ng-model="params.players" type="number">
		</div>
		<div class="results">		
			<div class="results-inside">
				<p>Hand: <span>{{ prob.hand*100 | number:1 }} %</span></p>
				<p>Turn: <span>{{ prob.table*100 | number:1 }} %</span></p>
			</div>
			<div class="results-inside">
				<p>Hand: <span>{{ (prob.hand / (1/params.players)) | number:1}}</span></p>
				<p>Turn: <span>{{ (prob.table / (1/params.players)) | number:1}} </span></p>
			</div>
		</div>
		<button ng-click="reset()">Reset</button>
	</div>

	<div class="container" >

		<div class="deck">
			<div class="card" ng-class="{selectedHand: card.selected.hand, selectedTable: card.selected.table }" style="background-position:-{{card.xPos}}px -{{card.yPos}}px" ng-repeat="card in deck" ng-click="select(deck, card)">
			</div>
		</div>

	</div>

	<script src="angular.min.js"></script>	
	<script src="app.js"></script>		
</body>

</html>