
html, body{
	height: 100%;
	width: 100%;
}
/*
h1 {
	margin-bottom:-10px;
}*/

body{
	background: #088A4B;
	color: black;		
}

.container {
	width:100%;
	clear:both;
}

select {
	height: 750px;
}

.deck {
	width:680px;
	height:280px;
	margin-bottom: 10px;
}

.results{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	align-items:center;
}

.results-inside{
	display:flex;
	flex-direction: row;
	justify-content:space-between;
	align-items:center;
}

.card{
	margin:1px;
	width:50px;
	height:67.5px;
	max-height:50%;
	float:left;
	background: url("cards2.gif") no-repeat;
}

.card.selectedHand {
	outline:4px solid blue;
}

.card.selectedTable {
	outline:4px solid yellow;
}


.top-row > div, input, p{
	float:left;
}


input{
	height:40px;
	width:50px;
	font-size:26px;
	margin:0px 15px;
	padding:0px 5px;
}

button {
	margin-left:100px;
	margin-bottom:10px;
	height:40px;
	width:120px;
	font-size: 20px;
}

span {
	color: white;
	font-size: 20px
}

p {
	margin-left:30px;
}
/*71*13=926
96*4=384
*/