<doctype! html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="pokerCheater">
	<div class="container" ng-controller="mainCtrl">
		<h1>Poker Cheater</h1>
		<p ng-bind="test"></p>
	</div>

	<form novalidate ng-submit="getStats">
		Number of Players <input type="number">
		Cards at hand <select ng-options="deck" ng-model="cardAtHand">
		Cards from players <select ng-options="deck" type="number" ng-model="cardAtTable">
	</form>

	<script src="angular.min.js"></script>		
	<script src="app.js"></script>		
</body>

</html>